
<!-- ======================================================= -->
<div class="container" style="margin-top:3em;background-color:#EEF">
  <div>
    <h1 style="border-bottom: 1px solid gray; padding-bottom:.21em">
      To : {{include.m.adress}}
    </h1>
    <h1 style="border-bottom: 1px solid gray; padding-bottom:.21em">
      Subject : [formulaire-invitation] [[invite]] ([[dates]])
    </h1>

  {% for s in site.data.fields %}
  {% for d in include.m.data %}
    {% if s.id == d %}
      <div {% if s.if %} v-if="{{s.if}}" transition="fade" {% endif %}>
      <h2>{{s.section}}</h2>
      {% for f in s.fields %}
        {% if f.variable %}
        <div class="row" {% if f.if %}v-if="{{f.if}}"{% endif %}>
          <div class="col-xs-6">
            {{f.label}}
          </div>
          <div class="col-xs-6">
            [[[{{f.variable}}{% if f.variable == 'cadre' %}.nom{% endif %}{% if f.type == 'prix' or f.type == 'totalprix' %}| euro{% endif %}]]]
          </div>
        </div>
        {% endif %}
      {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
  {% endfor %}
  </div>
</div>
